Fake News - Machine Learning
Fake news prediction using Machine Learning algorithms. Enter your text or generate a random one from our dataset to try it.

{{ form.hidden_tag() }}
{% if form.original_text.errors %} {{ form.original_text(class="form-control form-control-lg is-invalid") }}
{% for error in form.original_text.errors %} {{ error }} {% endfor %}
{% else %} {{ form.original_text(class="form-control", id="email", rows="10") }} {% endif %}

{{ form.generate(class="btn btn-primary btn-outline btn-md") }} {{ form.predict(class="btn btn-primary btn-outline btn-md") }}

{% if output %}
Prediction : {{output['prediction']}} See result details

{% endif %}
How It Works
Fake news prediction using Machine Learning algorithms. The text is first preprocessed and transformed as a vector. Then, the vector is feeded to the trained model to be classified.

Original Text
{%if output %}
{{ output['original'] }}

{% else %}
Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line

{% endif%}
Preprocessed Text
{%if output %}
{{ output['preprocessed'] }}

{% else %}
Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line

{% endif%}
Transform & Predict
{%if output %}
Text predicted as : {{ output['prediction'] }}

{% else %}
Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line

{% endif%}